*{
    margin: 0;
    padding: 0;
}
body{
    background:url(https://images.unsplash.com/photo-1491202524526-0c043ec3479b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80)center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
}
img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}
.login-btn{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    opacity: 0.4;
    box-shadow: 10px 10px 30px #0000;
    border: solid 2px #fff;
}
.contenedor{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 350px;
    height: 260px;
    border-radius: 5px;
    background: rgba(252, 249, 249, 0.15);
    box-shadow: 1px 1px 50px #000;
    display: none;
}
.cerrar-btn{
    position: absolute;
    cursor: pointer;
    line-height: 18px;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 0.2 ease-in-out;
}
.cerrar-btn:hover{
    opacity: .5;
}
h1{
    top: 5px;
    position: relative;
    margin-top: 0;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
}
a,input{
    text-decoration: none;
    position: relative;
    width: 70%;
    display: block;
    margin: 9px auto;
    font-size: 1em;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(3,3,3,.5);
    -webkit-transition: all 2s ease-in-out;
    transition: all 1s ease-in-out;
}
input:focus{
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,.18);
}
::-webkit-input-placeholder { color: #ddd;}

a{
    text-align: center;
    padding: 4px 8px;
    background:rgba(87, 198, 255, .5);
}
a:hover{
    opacity: 0.7;
}
.contenedor-recordar{
    position: relative;
    margin: -5 20px;
}

.checkbox{
    position: relative;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    background: rgba(3,3,3, .2);
    display: inline-block;
    width: 16px;
    height: 15px;
}
.checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checkbox:checked{
    background: rgba(3, 3, 3, .4);
    box-shadow: 0, 1px, 2px rgba(0, 0, 0, .05), inset 15px, 10px, -12px rgba(255, 255, 255, 0.5);
    color: #fff;
}
.checkbox{
    content: '\2714';
    font-size: 1em;
    position: absolute;
    top: 0;
    left: 15px;
    color: #fff;
}
#recordar{
    position: absolute;
    font-size: 0.9em;
    color: #000;
    top: 7px;
    left: 30px;
}
#olvidado{
    position: absolute;
    font-size: 0.9em;
    color: #000;
    right: 30px;
    top: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#olvidado:hover{
    color: rgba(255, 255, 255, .6);
}
.contenedor-olvidada{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 350px;
    height: 260px;
    border-radius: 10px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
}
.btn-orange{
    background: rgba(87, 198, 255, .5);
}


